extends layout

block content
    form(action='/new', method='POST')
        label First Name
        br
        input(name='firstName', type='text', placeholder='First Name')
        br
        label Last Name
        br
        input(name='lastName',type='text', placeholder='Last Name')
        br
        label Age
        br
        input(name='age',type='text', placeholder='Age')
        br
        input(type='submit', value='Add')