body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  background: #e0e0e0;
}

td,th {
  padding: 10px;
}

input {
  margin-bottom: 10px;
}